mat-card-header {
    position: relative;
}

::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin: 0px; 
}

.logo {
    position: relative;
    min-width: 99px;
    min-height: 29px;
    margin-left: 120px;
    margin-top: 44px;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FDB100;
}

.menu-list {
    position: relative;
    width: 344px;
    padding: 0;
    height: 22px;
    margin-left: 80px;
    margin-top: 48px;
    display: flex;
    flex-direction: row;

}

.mat-nav-list .active-link .mat-list-item  {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #3A3C41;
    padding: 0;
}

.mat-nav-list .mat-list-item {
    height: 22px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #9196A1;
}

:host /deep/ .mat-list-item-content {
    padding: 0!important;
}

.list-item {
    position: relative;
    margin-right: 40px;
}

.list-item:last-child {
    margin-right: 0px;
}

.login {
    
    position: relative;
    margin-left: 565px;
    margin-top: 40px;
    width: 280px;
    height: 38px;
}

.entered-login {
    margin-top: 40px;
    margin-left: 398px;
    position: relative;
    /* width: 280px; */
    height: 38px;

}

.login-svg {
    position: relative;
}
.text-login {
    position: relative;
    display: inline-block;
    bottom:10px;
    margin-left: 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FDB100;
}

.line {
    display: inline-block;
    position: relative;
    width: 19px;
    bottom:15px;
    margin-left: 10px;
    margin-right: 10px;

    border: 1px solid rgba(253, 177, 0, 0.72);
    transform: rotate(90deg);
}

.exit-button {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    bottom: 5px;
}