<mat-card-header>
   
    <div class="logo">Recipes</div>
   

    <mat-nav-list class="menu-list">
        <mat-list-item class="main-item">
            Главная
        </mat-list-item>
        <mat-list-item class="list-item">
            Рецепты
        </mat-list-item>
        <mat-list-item class="list-item">
            Избранное
        </mat-list-item>
    </mat-nav-list>
    <div class="login"> 
        <img src="assets\img\Ellipse4.png" class="elipse">
        <img src="assets\img\Vector.png" class = "vector">
        <div class="text-login">Войти</div>
    </div>
   
</mat-card-header>
