<mat-card-header>
   
    <div class="logo">Recipes</div>
   

    <mat-nav-list class="menu-list">
    
        <mat-list-item class="list-item" routerLink="/recipe-book"  routerLinkActive="active-link" >   
            Главная
        </mat-list-item>      
        <mat-list-item class="list-item" routerLink="/recipe"  routerLinkActive="active-link">
            Рецепты
        </mat-list-item>
        <mat-list-item class="list-item">
            Избранное
        </mat-list-item>
    </mat-nav-list>

    <div *ngIf="!authService.isLoggedIn()" class="login"> 
        <svg-icon src="assets\img\login.svg" class="login-svg"></svg-icon>
        <div class="text-login">Войти</div>
    
    </div>

    <div *ngIf="authService.isLoggedIn()" class="entered-login"> 
        <svg-icon src="assets\img\login.svg" class="login-svg"></svg-icon>
        <div class="text-login">Привет, {{authService.getLogin()}}</div>
        <div class="line"></div>
        <button (click)="logout()" class="exit-button" mat-icon-button>  <svg-icon src="assets\img\exit_to_app.svg"></svg-icon>  </button> 
    </div>

   
</mat-card-header>
