.header {
    width: 1200px;
    height: 38px;
    position: absolute;
    left: 120px;
    top: 40px;
   
}
.logo {
    position: absolute;
    width: 99px;
    height: 29px;
    left: 120px;
    top: 44px;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FDB100;

}
.menu-list {
   
    position: absolute;
    width: 344px;
    height: 22px;
    left: 299px;
    top: 44px;

    display: flex;
    flex-direction: row;
}

.mat-nav-list .mat-list-item {
    height: 22px;
  }

.list-item {

  
 
    margin-right: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #9196A1;
}
/* .main-item {
    margin-right: 40px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color:  #9196A1;
} */

.login {
    position: absolute;
    width: 280px;
    height: 38px;
    left: 1208px;
    top: 48px;
 

}

.entered-login {
    position: absolute;
    width: 280px;
    height: 38px;
    left: 1040px;
    top: 48px;
   
}


.vector {
    position: absolute;
    height: 16px;
    top: 11px;
    left: 11px;
    
}
.elipse {
    position: absolute;
    width: 38px;
}
.text-login {
    position: absolute;
    left: 52px;
    top: 8px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FDB100;

}

.active-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #3A3C41;
}

.line {
    position: absolute;
    width: 19px;
    height: 0px;
    left: 232px;
    top: 18px;

    border: 1px solid rgba(253, 177, 0, 0.72);
    transform: rotate(90deg);
}

.exit-button {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 256px;
    top: 5px;
    
}