<button (click)="cancel()" class="close-icon" mat-icon-button>
    <svg-icon src="assets\img\close.svg"></svg-icon>
</button>

<mat-card-title class="dialog-title">Войти</mat-card-title>

<form [formGroup]="form">
    <mat-form-field class="dialog-input">
        <input matInput placeholder="Логин" formControlName="login">
    </mat-form-field>

    <mat-form-field class="dialog-input">
        <input matInput type="password" placeholder="Пароль" formControlName="password">
    </mat-form-field>

    <div class="button-field">
        <button (click)="login()" mat-raised-button class="login-button">Войти</button>
        <button (click)="cancel()" mat-raised-button class="cancel-button">Отмена</button>
    </div>
    <a (click)="choiceReg()" class="login-link">У меня еще нет аккаунта</a>

</form>