mat-card-footer {
    position: relative;
    
    height: 113px;
    margin: 0px;
    background: #FBF9F4;

}

.logo {
    position: relative;
    width: 132px;
    height: 39px;
   
    display: inline-block;
    margin-left: 120px;
    margin-top: 37px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #FDB100;
}

.copyright {
    position: relative;
    display: inline-block;
    width: 155px;
    height: 24px;

    margin-left: 918px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #4A525A;
}