.reg-title {
    position: relative;
    margin-left: 60px;
    margin-top: 16px;
    margin-bottom: 47px;
    
    width: 515px;
    height: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    text-transform: capitalize;
    color: #25292D;
}

.login-input {
    box-sizing: border-box;

    position: relative;
    padding: 0 32px;
    margin-bottom: 20px;
    margin-left: 60px;
    width: 580px;
    height: 50px;

    border: 1px solid rgba(145, 150, 161, 0.4);
    border-radius: 16px;
}

.password-field {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 60px;
}

.password-input {
    overflow: visible;
    height: 78px;
    box-sizing: border-box;
    padding: 0 32px;
    position: relative;
    overflow: visible;
    width: 278px;
    height: 50px;
    margin-right: 24px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    border-radius: 16px;
}

.button-field {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-left: 60px;
}

.reg-button {
    position: relative;
    margin-right: 22px;
    width: 278px;
    height: 60px;

    background: #FDB100;
    border-radius: 16px;
    
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    color: #FFFFFF;
}

.cansel-button {
    box-sizing: border-box;
    position: relative;
    width: 278px;
    height: 60px;
    border: 1px solid #FDB100;
    border-radius: 16px;
    
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    text-align: center;

    color: #FDB100;
}

.login-link {
    position: relative;
    margin-left:231px;
    width: 237px;
    height: 26px;
    border-bottom: 1px dashed #FDB100;;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #FDB100;
}

.close-icon {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 650px;
    margin-top: 22px;
}

.hint {
    position: relative;
    width: 276px;
    height: 28px;

    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    /* identical to box height, or 233% */
    color: rgba(37, 41, 45, 0.3);

   
}


