<button (click)="closeDialog()" class="close-icon" mat-icon-button>
    <svg-icon src="assets\img\close.svg"></svg-icon>
</button>



<mat-card-title class="reg-title">Регистрация</mat-card-title>

<form [formGroup]="form">

    <mat-form-field class="login-input">
        <input matInput placeholder="Имя" formControlName="name">
    </mat-form-field>

    <mat-form-field class="login-input">
        <input matInput placeholder="Логин" formControlName="login">
    </mat-form-field>

    <div class="password-field">
        <div class="password-form">
            <mat-form-field class="password-input">
                <input #message type="password" class matInput placeholder="Пароль" formControlName="password">
            </mat-form-field>
            <div class="hint">
                Минимум 8 символов
            </div>
        </div>
        <mat-form-field class="password-input">
            <input class="input-font" type="password" matInput placeholder="Повторите пароль"
                formControlName="confirmPassword">
        </mat-form-field>
    </div>


    <div class="button-field">
        <button mat-raised-button (click)="registrationUser()" [disabled]="form.invalid"
            class="reg-button">Зарегистрироваться</button>
        <button mat-raised-button (click)="closeDialog()" class="cansel-button">Отмена</button>
    </div>

    <a (click)="choiseLogin()" class="login-link">У меня уже есть аккаунт</a>
</form>